function addChoice() {
  const addNewChoice = document.getElementById("choice-card");
  const whishlistQuantity = document.getElementById("whishlist-item-id-<%= @whishlist.id %>");
  addNewChoice.insertAdjacentHTML('beforeend', "<li id='<%="basket-item-id-#{@basket.id}" %>'><%= j render "button-choice", basket: @basket %></li>");
  whishlistQuantity.innerHTML = "<%= j render 'whishlist-update', whishlist: @whishlist %>";
}

addChoice();

