// function addItem() {
//   const addNewItem = document.getElementById("mybasket-card");
//   addNewItem.insertAdjacentHTML('beforeend', "<li>\n<%= j render 'button-mybasket', basket: @basket %></li>");
// }

// addItem()
