function addChoice() {
  const addNewChoice = document.getElementById("choice-card");
  addNewChoice.insertAdjacentHTML('beforeend', "<li>\n<%= j render 'button-choice', basket: @basket %></li>");
}

addChoice();

