<%= render layout: "shared/main_layout", locals: {
  main_title: "Combien coûte ton meal :",
} do %>
  <div class="main">
  </div>
    <div class="card text-center">
      <%= @basket.whishlist.item.name.capitalize %> :
      <%= render 'form', basket: @basket %>
    </div>
<% end %>
