<h1 class="text-center">Liste des invités</h1>

<h2>Participera au meal</h2>
  <%= @event.user.nickname %>
<% @event.guests.each do |guest| %>
  <% if guest.is_coming %>
    <%= guest.user.nickname %>
  <% end %>
<% end %>

<h2>Ne participera pas au meal</h2>
<% @event.guests.each do |guest| %>
  <% if guest.is_coming == false %>
    <%= guest.user.nickname %>
  <% end %>
<% end %>


<div class="text-center"><%= link_to 'Back to the event', event_dashboard_path, class: "btn btn-primary" %></div>

