.details-container{
  padding: 1%;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 10px;
}

// .event-details{
  // padding: 1% 0%;
  // display: flex;
  // justify-content: space-around;
  // flex-direction: column;
// }

// .event-details p {
//   display: flex;
// }

.picto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.picto i{
  margin: 15px 0;

}

.picto p{
  margin: 0;
  text-align: center;
}


// .small-icon{
//   width: 1.5rem;
//   margin-right: 5px;
// }

.fas.fa-map-marked-alt, .fas.fa-calendar-alt, .fas.fa-users.faded{
  font-size: calc(20px + 0.5vw);
  color: $mauve1;
  // margin-right: 3%;
  opacity: 0.5;
  text-align: center;
}

// #description-details{
//   background-color: white;
//   color: black;
//   width: 100%; /* 100% Full-height */
//   height: 0; /* 0 width - change this with JavaScript */
//   transition: height 3s; /* 0.5 second transition effect to slide in the sidenav */
// }

// #rest-of-content{
//   transition: margin-top 0.5s;
//   min-height: 100%;
// }

.description-content{
  font-size: 0.8rem;

}

#description-details{
  width: 95%;
  margin: 0 auto;
}
// }.description-content{
//   visibility: hidden;
//   opacity: 0;
//   // transition: opacity 1s ;
//   // transition: margin-top 0.5s;
//   min-height: 0%;
//   @include transition(
//     opacity 500ms linear,
//     visibility 0s linear 500ms
//   )
// }

// .description-content--show{
//   visibility: visible;
//   opacity: 1;
//   // transition: opacity 1s ;
//   // transition: margin-top 0.5s;
//   min-height: 100%;
//   @include transition(
//     opacity 500ms linear,
//     visibility 0s linear
//   )
// }
