.participation {
  height: 3rem;
  width: 100vw;
  background-color: $yellow;
  // box-shadow: ;
  margin: 5vh 0;
  color: $mauve1;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .participation {
    margin: 6vh 0;
  }
}

.happy-fork{
  width: 5rem;
  // position: absolute;
  // top: -10px;
  // left: 25px;
}

.happy-chef{
  width: 4rem;
  // position: absolute;
  // top: -35px;
  // left: 30px;
}

.happy-waiting{
  width: 4.3rem;
  // position: absolute;
  // top: -8px;
  // left: 30px;
}

.section{
  position: absolute;
  left: 8rem;
  font-size: 1.2em;
}

.pan{
  opacity: 0.35;
  width: 8rem;
  margin-top: 2rem;
}

