.participation {
  height: 3rem;
  width: 100vw;
  background-color: $yellow;
  // box-shadow: ;
  margin: 2rem 0;
  color: $mauve1;
  position: relative;
  display: flex;
  align-items: center;
}

.happy-fork{
  width: 5rem;
  position: absolute;
  top: -10px;
  left: 25px;
}

.happy-chef{
  width: 4.2rem;
  position: absolute;
  top: -35px;
  left: 30px;
}

.section{
  position: absolute;
  left: 8rem;
  font-size: 1.2em;
}
