<div class="navbar-wagon">

  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fas fa-bars" id="bars"></i>
    </div>
  </div>

  <%= link_to root_path, class: "brand" do %>
    <%= image_tag "happy_1000_logo.png" %>
  <% end %>

  <div class="navbar-wagon-item">
    <div class="dropdown">
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>

</div>
