<h1> My Happy 1000 </h1>

<div>
<p><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<</p>
<p>[Raclette Party]</p>
<p>[12 participants]</p>
<p>Date</p>
<p>adresse</p>
<p> [x] Je participe </p>
<p><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<</p>
</div>

<div>
<h3> Ce que nous devons ramener :</h3>
  <ul>
    <li>guest 1 : </li>
    <li>guest 2 : </li>
    <li>user 3 : </li>
  </ul>
</div>

<div>
  <p>Total : 93€ </p>
</div>

<%= link_to "voir la wishlist" %> <br>
<%= link_to "Equilibres"%>
