<h1 class="text-center">Mes Happy 1000</h1>
<ul>
  <% if @events.blank? %>
    <p>Tu n'as aucun meals de prévu...</p>
    <br>
    <p>C'est l'occastion d'organiser un nouveau Happy 1000 !</p>
    <%= link_to "Créer mon 1er Happy 1000", new_event_path, :class => "btn btn-primary" %>
  <% else %>
    <% @events.each do |event| %>
      <li><%= link_to event.title, event_dashboard_path(event) %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to  do %>
  <i class="fas fa-pencil-alt"></i>
<% end %>

<%= link_to method: :delete, data: { confirm: "Veux-tu vraiment supprimer ce meal ?" } do %>
  <i class="fas fa-trash-alt"></i>
<% end %>

<!-- edit_event(@event)
event_path(@event), -->
