<h1 class="text-center">My events</h1>
<ul>

  <% if @events.blank? %>
    <p>Tu n'as aucun meal de prévu...</p>
    <br>
    <p>C'est l'occastion d'organiser un nouveau Happy 1000 !</p>
  <% else %>
    <% @events.each do |event| %>
      <li><%= link_to event.title, event_dashboard_path(event) %></li>
    <% end %>

  <% end %>
</ul>






