// document.querySelector("[item='<%= @item.id %>']")
//   .remove();

function addItem() {
  const addNewItem = document.getElementById("basket-card");
  addNewItem.insertAdjacentHTML('beforeend', "<li id='<%= "whishlist-item-id-#{@whishlist.id}" %>'><%= j render "button-basket", whishlist: @whishlist %></li>");
}

addItem();
