<div class="container">
  <h1>Créé ta whishlist</h1>
  <div class="row"></div>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <%@whishlists.each do |whishlist| %>
        <li>
          <%= whishlist.item.name %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row btn-flex">
    <div class="col-xs-4">
      <%= link_to "Valider", root_path, :class => "btn btn-primary" %>
    </div>
    <div class="col-xs-4">
      <%= link_to "Modifier", root_path, :class => "btn btn-info" %>
    </div>
  </div>
</div>
