.card-account {
  margin-top: 5%;
  height: 450px;
  padding-top: 10px;
}

// hauteur de la card secondaire
// .card-account-body {

// }

// hauteur de la card principale
.card-account-total {
  height: 20%;

}

.avatar-account {
  width: 50px;
  // margin-right: 20px;
  // margin-left: 10px;
  border-radius: 50%;
}

.form_for_price {
  width: 100px;
  margin: auto;
}

.container-account {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  align-items: flex-start;
}
.box-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 10%;
}

.box-account p {
  margin: 0;
}

.box-account.amount p {
  color: $mauve1;
  font-weight: bolder;
  font-size: 1.35rem;
  margin-right: 27%;
}

.balance-arrow {
  width: 32vw;
  opacity: 0.1;
  margin-right: 27%;
}

.nobody-paid {
  text-align: center;
  font-size: 22px;
  margin: auto;
  color: #CECECE;
}

.happy-calc2{
  width: 5rem;
  opacity: .35;
}

.total {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-argent{
  display:flex;
  margin-bottom: 10%;
}
