.card-account {
  margin-top: 5%;
}

// hauteur de la card secondaire
.card-account-body {
  height: 300px;
  padding-top: 50px;
}

// hauteur de la card principale
.card-account-total {
  height: 20%;

}

.avatar-account {
  margin-right: 20px;
  margin-left: 10px;
}
