.card-account {
  margin-top: 5%;
}

// hauteur de la card secondaire
.card-account-body {
  height: 450px;
  padding-top: 10px;
}

// hauteur de la card principale
.card-account-total {
  height: 20%;

}

.avatar-account {
  width: 50px;
  // margin-right: 20px;
  // margin-left: 10px;
  border-radius: 50%;
}

.form_for_price {
  width: 100px;
  margin: auto;
}
.container-account {
  display: flex;
  justify-content: space-around;
}
.box-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.balance-arrow {
  width: 50vw;
  opacity: 0.3;
}

.nobody-paid {
  text-align: center;
  font-size: 22px;
  margin: auto;
  color: #CECECE;
}

