.mauve {
  color: $mauve1;
  margin: 1rem 0;
}

.connexion {
  font-size: calc(7px + .5vw);
}

.log-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.log-buttons a {
  margin: 0 2%;
}

@media screen and (max-width: 750px) {
  .log-buttons a:last-child {
    margin-right: -3vw;
  }
}

.org-meal-wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.org-meal{
  font-weight: 900;
  z-index: 3;
  border-radius: 3px;
  width: 65%;
  position: fixed;
  bottom: 0px;

  text-transform: uppercase;
}

.create-meal{
  font-weight: 900;
  position: absolute;
  bottom: -85px;
  left: 17%;
  z-index: 3;
  border-radius: 5px;
  width: 65%;


}

.button-center {
  display: flex;
  justify-content: center;

  }

.btn-double {

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  // position: fixed;
  // bottom: 0;
  z-index: 4;
}

.equilibre{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}


#btn-equilibre {

  background-color: #F4F4F4 !important;
}


.panier{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

a  {
 ;
}

#whishlist-item-id- {
  color: black;
}
// #btn-equilibre {
//   text-decoration: none;
//   background-color: #F4F4F4 !important;
// }



// .org-meal2{
//   font-weight: 999;
//   z-index: 3;
//   border-radius: 3px;
//   width: calc(90vw / 2);
//   // position: fixed;
//   // bottom: 0px;

//   text-transform: uppercase;
// }
