.mauve {
  color: $mauve1;
  margin: 1rem 0;
}

.connexion {
  font-size: calc(7px + .5vw);
}

.log-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.log-buttons a {
  margin: 0 2%;
}

@media screen and (max-width: 750px) {
  .log-buttons a:last-child {
    margin-right: -3vw;
  }
}

.confirmation-btn{
  font-weight: bold;
  position: absolute;
  bottom: -495%;
  z-index: 3;
  border-radius: 5px;
  width: 65%;

}
