.card {
background: white;
box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.card-photo > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

// .card-trip h2 {
  // font-size: 16px;
  // font-weight: bold;
  // margin: 0;
// }

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .organisateur{
//   position: absolute;
//   right: 25px;
//   top: 5px;
// }

// .description{
//   position: absolute;
//   right: 25px;
//   top:25px;
// }

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 25px;
  top: -30px;
  width: 40px;
  border-radius: 3px solid $mauve1;
}

.container-exterieur{
  margin: 0.8rem 2rem;
}

.avatar-bordered{
  border-radius: 100%;
}

.card-trip-infos .fa-pencil-alt {
  position: absolute;
  font-size: 1em;
  left: 25px;
  top: 25px;
  color: $mauve1;
  opacity: 1;
  // width: 40px;
}

.card-trip-infos .fa-trash-alt {
  position: absolute;
  font-size: 1em;
  left: 45px;
  top: 25px;
  color: $mauve1;
  opacity: 1;
}

.card-background{
  background-color: $mauve1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 22vh;
}

.card-details{
  display: flex;
  // justify-content: space-between;
  align-items: center;
}


.yellow-title{
  color: $yellow;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.yellow-details{
  color: $yellow;
  margin: 5px;
}

.dashboard-path{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
