.card {
background: white;
box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-photo > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container-exterieur{
  margin: 0.8rem 2rem;
}

.avatar-bordered{
  border-radius: 100%;
}

.card-photo .fa-pencil-alt {
  position: absolute;
  font-size: 1.3em;
  right: 50px;
  top: 15px;
  color: $mauve1;
  opacity: .6;
    &:hover{
      color: $mauve1;
      opacity: 1;
    }
  // width: 40px;
}

.card-photo .fa-trash-alt {
  position: absolute;
  font-size: 1.3em;
  right: 25px;
  top: 15px;
  color: $mauve1;
  opacity: .6;
    &:hover{
      color: $mauve1;
      opacity: 1;
    }
}

.card-photo{
  position: relative;
}
