.card {
background: white;
border-radius: 4px;
width: 91%;
margin: auto;
padding: 10px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 5px;
}

.card-photo > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

// .card-trip h2 {
  // font-size: 16px;
  // font-weight: bold;
  // margin: 0;
// }

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .organisateur{
//   position: absolute;
//   right: 25px;
//   top: 5px;
// }

// .description{
//   position: absolute;
//   right: 25px;
//   top:25px;
// }

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 25px;
  top: -30px;
  // width: 40px;
  border-radius: 50%;
  // border: 3px solid $mauve1;
}

.card-trip-infos .card-trip-user2 {
  position: absolute;
  left: 25px;
  top: -30px;
  width: 50px;
  border-radius: 50%;
}

.container-exterieur{
  margin: 1.3rem 1.5rem;
}

.avatar-bordered{
  border-radius: 100%;
}

.card-trip-infos .fa-pencil-alt {
  position: absolute;
  font-size: 1em;
  left: 31px;
  top: 30px;
  color: $mauve1;
  opacity: 1;
  // width: 40px;
}

.card-trip-infos .fa-times {
  position: absolute;
  font-size: 1em;
  top: -138px;
  right: 10px;
  color: $yellow;
  opacity: 1;
}

.card-background{
  background-color: $mauve1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 22vh;
}
// .card-background-y{
//   background-color: $yellow;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 22vh;
// }

.card-details{
  display: flex;
  // justify-content: space-between;
  align-items: center;
}


.yellow-title{
  color: $yellow;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.yellow-details{
  color: $yellow;
  margin: 5px;
}

.mauve-title{
  color: $mauve1;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.mauve-details{
  color: $mauve1;
  margin: 5px;
}


.dashboard-path{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.participe{
  margin-bottom: 7%;
}

@media screen and (max-width: 750px) {
  .participe{
    margin-bottom: 12%;
  }
}

.avatar{
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 5px;
  border: #d3cbcb 1px solid;
}

