.container-dashboard {
  display: flex;
  width: 100%;
  // background-color: white;
  align-items: center;

}

.box-dashboard {
  width: 27vw;
  margin: 5% 0;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  // flex-grow:1;
}

.indiv-item{
  width: 10vw;
  // flex-grow:1;
  display: flex;
  margin-right: 5px;
  align-items: center;
  // justify-content: space-between;
  flex-direction: column;
  // margin: 1%;
}

.panier-vide {
  opacity: 0.5;
}

.box-dashboard-items {
  z-index: 2;
  // width: 10vw;
  // flex-grow:1;
  // display: flex;
  // align-items: flex-start;
  // // justify-content: space-between;
  // flex-direction: column;
  margin: 2%;
  color: #5e5a5a;
}

.box-dashboard-items p{
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0;
}

.footer-dashboard {
  background-color: #900C3F;
  color: #FFC300;
  width: 100%;
  font-weight: 400;
  font-size: 2vh;
  padding: 10px;
}

.basket-background{
  background-color: white;
  position: relative;
  overflow-x: hidden;
  min-height: 325px;
}

// .empty-cart{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.basket-background hr:last-child{
  width: 0;
  opacity: 0;
}

.img-dash{
  position: absolute;
  top: 65px;
  right: -73px;
  opacity: 0.30;
  width: 71%;

}

hr{
  width: 50%;
  margin: 0 auto;
}

.avatar2{
  width: 2.8rem;
  border-radius: 50%;
  margin-right: 5px;
  border: #d3cbcb 1px solid;
}

.arrow{
  width: 2.5rem;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 110px;
}
