.guest-choices {
  text-align: center;
  justify-content: center;
  align-items: center;
  input[type=checkbox]{
    display: none;
    margin: 20px 0;
  }
}

input[type=checkbox]+label  {
  border-radius: 50px;
  flex: 0 0 30%;
  text-align: center;
}

input[type=checkbox]:checked+label img{
  border: solid 3px $mauve1;
  transform: scale(1.1);
}

label {
  margin: 20px 20px;
  .guest-choice {
  border: solid 3px #b7b7b7;
  border-radius: 50px;
  flex: 0 0 30%;
  text-align: center;
  }
}


.form-inline {
  justify-content: center;
}
.guest-item-id {
  display: inline-block;
}
