.slider-container{
  width: 100vw;
  height: 90vh;
  margin: 0;
  // background-color: purple;
  position: relative;
  overflow: hidden;
}

.slider{
 width: 300vw;
 height: 500px;
 left: -100vw;
 position: absolute;
 display: flex;
 transition: left 0.3s ease;
 // background-color: yellow;

}

.slide{
  width:100vw;
  height: calc(100vh - 9vh);
}

.slider.step1{
  left: 0;
}

.slider.step2{
  left: -100vw;
}

.slider.step3{
  left: -200vw;
}

.buttons-index{
  margin-top: 3%;
  width: 100vw;
  height: 5vh;
  display: flex;
}

.btn-nav{
  width: calc(100% / 3);
  color: $yellow;
  margin: 0 3px;
}

