.slider-container{
  width: 100vw;
  height: 70vh;
  margin: 0;
  // background-color: purple;
  position: relative;
  overflow-x: hidden;
}

.slider{
 width: 300vw;
 height: 70vh;
 left: -100vw;
 position: absolute;
 display: flex;
 transition: left 0.3s ease;
 // background-color: yellow;

}

.slide{
  width:100vw;
  height: 103vh;
  background-color: white;
  overflow-y: auto;
}

.slider.step1{
  left: 0;
}

.slider.step2{
  left: -100vw;
}

.slider.step3{
  left: -200vw;
}

.buttons-index{
  margin-top: 3%;
  width: 100vw;
  height: 5vh;
  display: flex;
}

.btn-nav{
  width: calc(100% / 3);
  color: $yellow;
  // margin: 0 3px;
}

@media screen and (max-width: 750px) {
  .btn-nav{
    font-size: 2vh;
  }
}

.navbar-icons{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  margin-top: 2vh;
}

.small-square.carre2{
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  bottom: -7.5px;
  left: 48.5vw;
  transition: left 0.3s ease;
}

.carre1{
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  bottom: -7.5px;
  left: 14vw;
  transition: left 0.3s ease;
}

.carre3{
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  bottom: -7.5px;
  left: 81.5vw;
  transition: left 0.3s ease;
}

@media screen and (min-width: 750px){
  .small-square.carre2{
    left: 652px;
  }

  .carre1{
    left: 210px;
  }

  .carre3{
    left: 1090px;
  }
}

.icons{
  opacity: .35;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-bottom: 10px;

}

.icons.selected{
  opacity: 1;
  // display: flex;
  // flex-direction: column;
  // transition: opacity 0.3s ease;
  // align-items: center;
}

.blanc{
  background-color: white;
  position: absolute;
  bottom: -20px;
  width: 100vw;
  height: 3vh;
  z-index: 3;
}

.in-front{
  z-index: 2;
}
