// .whishlist-container {
//   position: relative;
// }


// .slider-container.v2{
//   height: 67vh;
//   margin-top: 0;
// }

.btn-flex {
  display: flex;
  justify-content: space-around;
  align-item: center;
  position: absolute;
}

.item-icon img {
  height: 50px;
}

.quantity-css {
  color: black;
  font-size: 15px;
  font-family: $body-font;
  padding: 10px;
  height: 10vh;
  width: 33%;
  &:hover {
    text-decoration: none;
  }
}


.category {
  padding: 10px 0px;
}

.card-items {
  display: flex;
  flex-direction: row !important;

}

.wishlist-card {
background: white;
// box-shadow: 0 1px 3px rgba(0,0,0,0.6);
// border-radius: 4px;
width: 100vw;
height: 70vh;
// margin: auto;
padding: 10px;
}

// .slide-food{
//   .card{
//     flex-direction: unset !important;
//   }
// }

.icon-selection {

  width: 10vw;

}

.icon-badge {
  background: #FF5D5D;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 1px 8px;
  border-radius: 15px;
}

.food-item{
  display: flex;
  position: relative;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

}
