// .whishlist-container {
//   position: relative;
// }


.slider-container.slider-height-whishlist{
  height: 50vh;
}

.btn-flex {
  display: flex;
  justify-content: space-around;
  align-item: center;
  position: absolute;
}

.item-icon img {
  height: 50px;
}

.quantity-css {
  color: black;
  font-size: 11px;
  font-family: $body-font;
  padding: 10px;
  width: 25%;
  &:hover {
    text-decoration: none;
  }
}

.quantity-css:active {
  background-color: yellow;
}

.category {
  padding: 10px 0px;
}

.slide-food{
  .card{
    flex-direction: unset !important;
  }
}
