// .whishlist-container {
//   position: relative;
// }



.btn-flex {
  display: flex;
  justify-content: space-around;
  align-item: center;
  position: absolute;
}

.item-icon img {
  height: 50px;
}

.quantity-css {
  color: black;
  font-size: 16px;
  font-family: $body-font;
  width: fit-content;
  &:hover {
  text-decoration: none;
  }
}

.card.category {
  // width: 400px;
  padding: 20px;
  display: flex;
  // justify-content: space-between;
  // align-items: center;
}
.slide-food{
  .card{
    flex-direction: unset !important;

  }

}
